<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>测试</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<a class="navbar-brand" href="/">测试</a>
		<ul class="nav navbar-nav">
			<li>
				<a href="/fullPage">fullPage</a>
			</li>
			<li>
				<a href="#">Link</a>
			</li>
		</ul>
	</nav>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>